body{
    font-family:Kanit;
    margin: 0;
    padding: 0;
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5vh;

    height: 80vh;
    width: 30%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    overflow: hidden;
    border-radius: 30px;
}

.img-side{
    display:flex;
    height:50%;
    width: 100%;

}

.img-side img{
    height:100%;
    width: 100%;
}

.text-side{
    height: 60%;
    display: flex;
    padding: 2vh;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}