body{
    font-family:Kanit;
    margin: 0;
    padding: 0;
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    border-radius: 30px;
    }

.right-side{
    width:80vh;
    background-image: url('C:\\Users\\Katarina\\OneDrive - Stredná priemyselná škola elektrotechnická\\Dokumenty\\GitHub\\Quadratic-Generator\\Website\\Img\\mathematics-symbols.jpg');
    padding: 20px;
}

.logo img{
    display: flex;
    width: 8%;
}

.left-side{
    display: flex;
    width:80vh;
    padding: 40px;
    justify-content: space-between;
    flex-direction: column; 
    background-color: (248,252,255,255);


}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.About-us{
    display: inline-block;
    text-decoration: none;
    background-color: rgba(248,252,255,255);
    color: rgba(2,19,98,255);
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.Guide{
    display: inline-block;
    text-decoration: none;
    background-color: rgba(248,252,255,255);
    color: rgba(2,19,98,255);
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}


.About-us:hover {
    background-color: rgba(2,19,98,255); 
    color: rgba(248,252,255,255); 
}

.Guide:hover {
    background-color: rgba(2,19,98,255); 
    color: rgba(248,252,255,255); 
}



.download{
    display: flex;
}

.download p{
    background-color: rgba(2,19,98,255);
    color: #f4f4f4;
    padding: 10px; 
    border-radius: 20px;
    border: 2px solid rgba(2,19,98,255);
    transition: background-color 0.3s, color 0.3s;

}

.download p:hover {
    background-color: rgba(248,252,255,255); 
    color:rgba(2,19,98,255); 
    cursor: pointer;
}

@media (max-width: 600px) {
    body{
        font-size: small;
    }
      
    .container{
        width: 90%;
        flex-direction: column-reverse;
    }

    .right-side{
        padding: 10px;
        height: 50vh;
    } 

    .left-side{
        width: 100%;
        padding: 15px;
    }

    h1{
        margin-right: 30%;
    }

}



