body{
    font-family: Kanit;
    margin: 0;
    padding: 0;
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    border-radius: 30px;
}

.right-side{
    width: 80vh;
    background-color: black;
    position: relative;
    background-image: url("Img\math.jpg");
    background-size: cover;
    background-position: center;
}


.right-side::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}



.logo img{
    display: flex;
    width: 8%;
}

.left-side{
    display: flex;
    width: 80vh;
    padding: 40px;
    justify-content: space-between;
    flex-direction: column; 
    background-color: rgb(248,252,255,255);
}

.text{
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    z-index: 1;
}

.About-us, .Guide {
    display: inline-block;
    text-decoration: none;
    background-color: rgba(248,252,255,255);
    color: rgba(2,19,98,255);
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.About-us:hover, .Guide:hover {
    background-color: rgba(2,19,98,255); 
    color: rgba(248,252,255,255); 
}

.download {
    display: flex;
    margin-top: 20px;
}

.download a {
    text-decoration: none;
    background-color: rgba(2,19,98,255);
    color: #f4f4f4;
    padding: 10px; 
    border-radius: 20px;
    border: 2px solid rgba(2,19,98,255);
    transition: background-color 0.3s, color 0.3s;
}

.download a:hover {
    background-color: rgba(248,252,255,255); 
    color: rgba(2,19,98,255); 
    cursor: pointer;
}

@media (max-width: 600px) {
    body {
        font-size: small;
    }
      
    .container {
        width: 90%;
        flex-direction: column-reverse;
    }

    .right-side {
        height: 50vh;
    } 

    .left-side {
        width: 100%;
        padding: 15px;
    }

    h1 {
        margin-right: 30%;
    }
}