body{
    font-family:Kanit;
    margin: 0;
    padding: 0;
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    display: flex;
    height: 40vh;
    width: 70%;
    margin: 3vh;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    overflow: hidden;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.about-us{
    display: flex;
    margin: 30vh;
}

.header{
    display: flex;
    background-color: rgba(2,19,98,255);
    float: inline-start;
    color: white;
    width: 190vh;
    padding-right: 30vh;
    justify-content: right;
    align-items: center;
    height: 10vh;

}

.subpage-btn{
    /* display: flex;
    padding: 3px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 2vh; */

    display: inline-block;
    text-decoration: none;
    background-color: rgba(2,19,98,255);
    color: rgba(248,252,255,255);
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid rgba(248,252,255,255);

}

.subpage-btn:hover {
    background-color: rgba(248,252,255,255); 
    color: rgba(2,19,98,255); 
}

.img-side{
    display:flex;
    height:100%;
    width: 50%;
    border: 1px solid;

}

.img-side img{
    height:100%;
    width: 100%;
}

.text-side{
    display: flex;
    padding: 3vh;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.contacts{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}



.contact{
    background-color: rgba(248,252,255,255);
    padding: 0px 15px;
    border-radius: 30px;
    border: 3px solid rgba(2,19,98,255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0vh 4vh 5vh  4vh;
}

.contact-text{
    text-decoration: none;
    color: rgba(2,19,98,255);
}



.contact img{
    width: 25px;
    height: 25px;
    margin: 0px 5px;
}
